.ChordSheetEditor {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100%;
  position: relative;
}

.SongTextRowContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  min-height: 10px;
  width: 90%;
}

.ChordSheetFormContainer form {
  width: 100%;
  height: 100%;
}

.ChordSheetEditor input {
  width: 80%;
  margin-bottom: 1px;
}

.ChordSheetEditor input.ChordInput {
  color: blue;
}

.ChordSheetEditor button {
  margin-top: 10px;
}

.ChordSheetEditor a {
  color: blue;
  text-decoration: underline;
}

.ResultButtons button {
  margin-right: 10px;
}

.ChordInputContainer {
  display: flex;
  position: relative;
}

.ChordInputContainer a {
  cursor: pointer;
  margin-left: 10px;
}

.LyricInputContainer {
  display: flex;
  position: relative;
}

.LyricInputContainer a {
  cursor: pointer;
  margin-left: 10px;
}

.EditLyricsToggler {
  width: 100%;
  height: 5%;
  min-width: 200px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-start;
}

.EditLyricsToggler input {
  width: 20px;
}

.EditLyricsToggler label {
  min-width: 200px;
  height: 100%;
  margin-right: 50px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.EditLyricsToggler button {
  height: 25px;
  margin: 0 5px;
}

.EditLyricsToggler {
  margin: 0;
}
