body {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  min-height: 100vh;
}

#root {
  height: 100%;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

textarea {
  font-family: inherit;
  font-size: inherit;
}

input {
  font-family: inherit;
  font-size: inherit;
}

.NotFound {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 25px;
}

.App {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: flex-start;
  padding: 25px;
}

.ChordSheetEditor {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100%;
  position: relative;
}

.SongTextRowContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  min-height: 10px;
  width: 90%;
}

.ChordSheetFormContainer {
  margin-top: 5%;
}

.ChordSheetFormContainer form {
  width: 100%;
  height: 100%;
}

.ChordSheetEditor input {
  width: 80%;
  margin-bottom: 1px;
}

.ChordSheetEditor input.ChordInput {
  color: blue;
}

.ChordSheetEditor button {
  margin-top: 10px;
}

.ChordSheetEditor a {
  color: blue;
  text-decoration: underline;
}

.ResultButtons button {
  margin-right: 10px;
}

.ChordInputContainer {
  display: flex;
  position: relative;
}

.ChordInputContainer a {
  cursor: pointer;
  margin-left: 10px;
}

.LyricInputContainer {
  display: flex;
  position: relative;
}

.LyricInputContainer a {
  cursor: pointer;
  margin-left: 10px;
}

.EditLyricsToggler {
  width: 100%;
  height: 5%;
  min-width: 200px;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  z-index: 10;
  background-color: white;
  opacity: 80%;
}

.EditLyricsToggler input {
  width: 20px;
}

.EditLyricsToggler label {
  min-width: 200px;
  height: 100%;
  margin-right: 50px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.EditLyricsToggler button {
  height: 25px;
  margin: 0 5px;
}

.Transposer {
  justify-content: center;
  align-items: center;
  display: flex;
}

.ChordSheetResult {
  font-family: "Courier New", Courier, monospace;
  margin-bottom: 25px;
  width: 60%;
  height: 100%;
  margin-top: 5%;
}

.ChordSheetText {
  margin-bottom: 15px;
}

.SongTextInput {
  width: 40%;
  height: 100%;
  position: relative;
}

.SongTextInput textarea {
  width: 90%;
  height: 85%;
}

.SongTextInput button {
  margin-top: 15px;
}
